.date-range-picker {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  label {
    font-size: var(--font-size-small);
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .MuiDateRangePickerInput-root {
    border: 0.8px solid var(--color-grey-light) !important;
    border-radius: 18px !important;

    .MuiFormControl-root {
      &:first-child {
        border-right: 0.8px solid var(--color-grey-light) !important;
      }
    }

    .MuiOutlinedInput-notchedOutline {
      border: unset !important;
    }
  }
}

.MuiDateRangePickerDay-rangeIntervalDayHighlight {
  background-color: var(--color-secondary) !important;
  button {
    color: #FFF !important;
  }
}

.MuiPickersDay-root.Mui-selected {
  background-color: var(--color-secondary) !important;
}