@import "src/styles/brakpoints";
.sidebar {
  @media screen and (min-width: $md-width) {
    display: none;
  }
}

.MuiTypography-root {
  font-size: 1.3rem !important;
}
.menu-btn {
  color: var(--color-black) !important;
  font-size: var(--font-size-small) !important;
  text-transform: capitalize !important;
  svg {
    width: 2rem;
    height: 1.8rem;
    margin-right: 1rem;
  }
}